<%- include('../adminlayout/header.ejs') %>
  <%- include('../adminlayout/sidebar.ejs') %>
    <%- include('../adminlayout/navbar.ejs') %>





      <div class="" style="padding-top: 50px;">
        <h1>EDIT CATEGORY</h1>

        <form class="forms-sample" method="post" action="">
          <div class="form-group">
            <label for="exampleInputName1">CATEGORY NAME</label>
            <input type="hidden" name="id" value="<%= category._id %>">
            <input type="text" class="form-control" id="exampleInputName1" name="categorynames"
              value="<%= category.categoryname %>">
          </div>


          <input type="submit" class="btn btn-primary mr-2" value="Submit">
          <button class="btn btn-dark" id="Cancel"><a href="/admin/category-list"></a>Cancel</button>
        </form>
      </div>


      <%- include('../adminlayout/footer.ejs') %>