<%- include('../userlayout/header.ejs') %>
    <%- include('../userlayout/navbar.ejs') %>




        <!-- Main Slider Start -->
        <div class="sticky-header-next-sec ec-main-slider section section-space-pb">
            <div class="ec-slider swiper-container main-slider-nav main-slider-dot">
                <!-- Main slider -->
                <div class="swiper-wrapper">
                    <div class="ec-slide-item swiper-slide d-flex ec-slide-1">
                        <div class="container align-self-center">
                            <div class="row">
                                <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                    <div class="ec-slide-content slider-animation">
                                        <h1 class="ec-slide-title">New Fashion Collection</h1>
                                        <h2 class="ec-slide-stitle">Sale Offer</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                                        <a href="/shop-page"><button class="btn btn-lg btn-secondary"> Order
                                                Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ec-slide-item swiper-slide d-flex ec-slide-2">
                        <div class="container align-self-center">
                            <div class="row">
                                <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                    <div class="ec-slide-content slider-animation">
                                        <h1 class="ec-slide-title">Women Collections</h1>
                                        <h2 class="ec-slide-stitle">Sale Offer</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                                        <a href="/shop-page"><button class="btn btn-lg btn-secondary"> Order
                                                Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-white"></div>
                <div class="swiper-buttons">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <!-- Main Slider End -->

        <!-- Product tab Area Start -->
        <section class="section ec-product-tab section-space-p bg-light" id="collection">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h2 class="ec-bg-title">Our Top Collection</h2>
                            <h2 class="ec-title">Our Top Collection</h2>
                            <p class="sub-title">Browse The Collection of Top Products</p>
                        </div>
                    </div>

                    <!-- Tab Start -->
                    <div class="col-md-12 text-center">
                        <ul class="ec-pro-tab-nav nav justify-content-center">
                            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab"
                                    href="#tab-pro-for-all">For
                                    All</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-pro-for-men">For
                                    Men</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-pro-for-women">For
                                    Women</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-pro-for-child">For
                                    Children</a></li>
                        </ul>
                    </div>
                    <!-- Tab End -->
                </div>
                <div class="row">
                    <div class="col">
                        <div class="tab-content">
                            <!-- 1st Product tab start -->
                            <div class="tab-pane fade show active" id="tab-pro-for-all">
                                <div class="row">
                                    <!-- Product Content -->
                                    <% if(product.length> 0){
                                        for(let i=0;i<product.length;i++){ %>



                                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content"
                                                data-animation="fadeIn">
                                                <div class="ec-product-inner">
                                                    <div class="ec-pro-image-outer">
                                                        <div class="ec-pro-image">
                                                            <a href="/showProduct?id=<%= product[i]._id %>">
                                                                <img class="main-image"
                                                                    src="/adminAssets/adminImages/<%= product[i].image[0] %>"
                                                                    width="250px" height="300px" alt="Productimage" />

                                                            </a>
                                                            <span class="percentage">20%</span>

                                                            <div class="ec-pro-actions">

                                                                <button title="Add To Cart"
                                                                    onclick="addtocart('<%=product[i]._id%>')"
                                                                    class=" add-to-cart"><img
                                                                        src="assets/images/icons/cart.svg"
                                                                        class="svg_img pro_svg" alt="" /> Add To
                                                                    Cart</button>
                                                                <a class="ec-btn-group wishlist" title="Wishlist"><img
                                                                        src="assets/images/icons/wishlist.svg"
                                                                        class="svg_img pro_svg" alt="" /></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ec-pro-content">
                                                        <h5 class="ec-pro-title"><a href="product-left-sidebar.html">
                                                                <%= product[i].productname %>
                                                            </a></h5>
                                                        <span class="ec-price">
                                                            <span class="new-price">$<%= product[i].price %></span>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>


                                            <% } } %>




                                                <div class="col-sm-12 shop-all-btn"><a
                                                        href="shop-left-sidebar-col-3.html">Shop All Collection</a>
                                                </div>
                                </div>
                            </div>
                            <!-- ec 4th Product tab end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ec Product tab Area End -->

        <!-- ec Banner Section Start -->
        <section class="ec-banner section section-space-p">
            <h2 class="d-none">Banner</h2>
            <div class="container">
                <!-- ec Banners Start -->
                <div class="ec-banner-inner">
                    <!--ec Banner Start -->
                    <div class="ec-banner-block ec-banner-block-2">
                        <div class="row">
                            <div class="banner-block col-lg-6 col-md-12 margin-b-30" data-animation="slideInRight">
                                <div class="bnr-overlay">
                                    <img src="/assets/images/bg/abb.avif" alt="" />
                                    <div class="banner-text">
                                        <span class="ec-banner-stitle">New Arrivals</span>
                                        <span class="ec-banner-title">mens<br> Sport shoes</span>
                                        <span class="ec-banner-discount">30% Discount</span>
                                    </div>
                                    <div class="banner-content">
                                        <span class="ec-banner-btn"><a href="/shop-page">Order Now</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-block col-lg-6 col-md-12" data-animation="slideInLeft">
                                <div class="bnr-overlay">
                                    <img src="/adminAssets/adminImages/1684776889225-bg-1.jpg" alt="" />
                                    <div class="banner-text">
                                        <span class="ec-banner-stitle">New Trending</span>
                                        <span class="ec-banner-title">T-Shirt<br> pants</span>
                                        <span class="ec-banner-discount">Buy any 3 Items & get <br>20% Discount</span>
                                    </div>
                                    <div class="banner-content">
                                        <span class="ec-banner-btn"><a href="/shop-page">Order Now</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ec Banner End -->
                    </div>
                    <!-- ec Banners End -->
                </div>
            </div>
        </section>
        <!-- ec Banner Section End -->


        <script>

            function addtocart(productid) {
                $.ajax({
                    url: "/addtocart",
                    method: "post",
                    data: {
                        id: productid
                    },
                    success: (response) => {
                        if (response.success) {
                            swal.fire({
                                positon: 'center',
                                icon: "success",
                                title: 'product added to cart',
                                showConfirmButton: false,
                                timer: 1500,
                            })
                        }
                    }
                })
            }


        </script>






        <%- include('../userlayout/footer.ejs') %>